<h1>Enter your Tamagotchi:</h1>

<form action="/tamagotchi" method="post">
  <label for="image">Enter your url of your image:</label>
  <input type="text" name="image" id="image">
  <br>
  <label for="name">Enter the name of your tamagotchi:</label>
  <input type="text" name="name" id="name">
  <br>
  <button type="submit" name="button">Submit</button>
</form>
